@import "/node_modules/flag-icons/css/flag-icons.min.css";

* {
  box-sizing: border-box;
}

:root {
  --main-color: #0d187c;
  --card-color: #fff;
  --body-color: #fff;
  --card-text-color: #000000;
}

input:focus {
  outline: none;
}

p {
  margin-right: 0 !important;
  margin-bottom: 0 !important;
}

body {
  font-family: "Noto Kufi Arabic", sans-serif;
  background-color: var(--body-color);
}

/* Start Settings Box */
.setting-box {
  position: fixed;
  text-align: center;
  z-index: 9999;
  min-height: 100vh;
  background-color: #fff;
  border: 3px solid var(--main-color);
  width: 250px;
  right: -250px;
  top: 0;
  transition: 0.6s;
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -ms-transition: 0.6s;
  -o-transition: 0.6s;
}
.setting-box.opened {
  right: 0;
}
.setting-box .set-box {
  position: absolute;
  left: -50px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
  box-shadow: 0px 0px 10px #999;
}
.setting-box .set-box .fa-gear {
  padding: 12px 0;
  width: 50px;
  font-size: 20px;
}
.setting-box .setting-container .option-box {
  padding: 5px;
  margin: 0 0 10px 0;
  background-color: #e2e2e2;
}
.setting-box .setting-container h4 {
  margin: 0;
  text-transform: capitalize;
  color: #333;
}
.setting-box .color-list {
  list-style: none;
  margin: 5px;
  padding: 0 10px;
  text-align: center;
}
.setting-box .color-list li {
  display: inline-block;
  width: 25px;
  height: 25px;
  border: 3px solid #e2e2e2;
  cursor: pointer;
  border-radius: var(50%);
  -webkit-border-radius: var(50%);
  -moz-border-radius: var(50%);
  -ms-border-radius: var(50%);
  -o-border-radius: var(50%);
}
.setting-box .color-list li.active {
  border-color: #fff;
}
.setting-box .color-list li:first-child {
  background-color: #0d187c;
}
.setting-box .color-list li:nth-child(2) {
  background-color: #3f51b5;
}
.setting-box .color-list li:nth-child(3) {
  background-color: #009688;
}
.setting-box .color-list li:nth-child(4) {
  background-color: #e91e63;
}
.setting-box .color-list li:nth-child(5) {
  background-color: #2196f3;
}
.setting-box .color-list li:nth-child(6) {
  background-color: #ff5722;
}
.setting-box .color-list li:nth-child(7) {
  background-color: #000000;
}
.setting-box .color-list li:nth-child(8) {
  background-color: #faef5d;
}
.setting-box .color-list li:nth-child(9) {
  background-color: #b31312;
}
.setting-box .color-list li:nth-child(10) {
  background-color: #ea906c;
}
.setting-box .color-list li:nth-child(11) {
  background-color: #143f6b;
}
.setting-box .color-list li:nth-child(12) {
  background-color: #211951;
}

.reset-options {
  display: block;
  margin: 10px auto;
  width: 180px;
  text-transform: capitalize;
  font-weight: bold;
  padding: 10px;
  border: none;
  background-color: var(--main-color);
  color: #fff;
  cursor: pointer;
}
/* End Settings Box */

nav {
  background-color: #050a31ad;
  font-size: 1.5em;
  position: fixed !important;
  width: 100%;
  z-index: 999;
}

@media (max-width: 767px) {
  nav .site-name {
    font-size: 14px !important;
  }

  nav .site-lang {
    font-size: 12px !important;
  }
}

#intro {
  background-image: url(/assets/bg-left.png), url(/assets/bg-right.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--main-color);
  background-blend-mode: overlay;
  background-attachment : fixed;
  position : relative;
}

.intro-text {
  line-height: 49.32px;
  font-size: 26px;
}

@media (max-width: 767px) {
  .intro-text {
    font-size: 16px;
  }
}

#exchanger {
  background-color: #fff;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#exchanger .img-lg {
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
#exchanger .img-lg img {
  width: 66.4px;
}

#exchanger .img-sm {
  cursor: pointer;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

#exchanger .input-number {
  width: calc(35% - 20px);
}

#exchanger .dropdown {
  width: calc(65% - 20px);
}

#exchanger .input-number input[type="number"],
#exchanger .dropdown {
  padding: 15px 50px;
}

#exchanger .input-number input[type="number"] {
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  font-size: 24px;
  outline: none;
  border: none;
}

#exchanger input[type="number"]::-webkit-inner-spin-button,
#exchanger input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

#exchanger .input-number::before,
#exchanger .dropdown::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  background-color: #898989;
  height: 1px;
  transform: translate(-50%, -50%);
}

#exchanger .input-number::before {
  width: 50%;
}

#exchanger .dropdown::before {
  width: 80%;
}

#exchanger .dropdown .select-btn,
#exchanger .dropdown ul > li > p {
  width: 100%;
  font-family: "Noto Kufi Arabic", sans-serif;
  text-align: center;
  font-size: 20px;
  background-color: transparent;
  border: none;
  color: #000000 !important;
}

#exchanger .dropdown .dropdown-menu ul li {
  cursor: pointer;
  background-color: rgb(248, 249, 250);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}

#exchanger :-moz-ui-valid li:hover {
  background-color: #ddd;
}

#exchanger .dropdown-form > img {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

@media (max-width: 575px) {
  #exchanger > div > .right-box,
  #exchanger > div > .left-box {
    justify-content: end;
    margin-bottom: 5px;
    padding-right: 10px;
    gap: 5px;
  }

  #exchanger .img-sm {
    right: 16px;
    top: 48%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }

  #exchanger .img-sm img {
    height: 100px !important;
  }

  #exchanger .input-number input[type="number"] {
    font-size: 15px;
    padding: 7px 25px;
    width: 100px !important;
  }

  #exchanger .dropdown {
    padding: 10px 25px;
  }

  #exchanger .dropdown .select-btn,
  #exchanger .dropdown ul.currency-list > li > .dropdown-item {
    font-size: 12px;
  }

  #exchanger > div > div {
    justify-content: center;
    margin-bottom: 5px;
    gap: 5px;
  }
}
@media (max-width: 767px) {
  #exchanger .input-number input[type="number"] {
    font-size: 22px !important;
  }

  #exchanger .dropdown .select-btn,
  #exchanger .dropdown ul.currency-list > li > .dropdown-item {
    font-size: 16px;
  }
}

@media (max-width: 991px) {
  #exchanger .img-sm img {
    height: 140px;
  }

  #exchanger .input-number input[type="number"] {
    width: 160px;
  }

  #exchanger .input-number input[type="number"],
  #exchanger .dropdown {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  #exchanger .input-number input[type="number"],
  #exchanger .dropdown,
  #exchanger .dropdown ul li {
    background-color: #efefef;
  }

  #exchanger .input-number::before,
  #exchanger .dropdown::before {
    width: 0;
  }
}

#currencies > div > p {
  border: 1px solid #ddd;
  cursor: pointer;
  padding: 20px 40px;
  color: #7d7d7d;
  font-size: 20px;
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

#currencies > div > p.active {
  background-color: var(--main-color);
  color: #fff !important;
}

#currencies .currency-card {
  width: 240px;
  height: auto;
  background-color: var(--card-color);
  color: var(--card-text-color);
  border: 1px solid #d9d9d9;
  padding: 25px 15px 15px 15px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (min-width: 767px) and (max-width: 991px) {
  #currencies .currency-card {
    width: calc((100% / 3) - 20px);
  }
}

#currencies .currency-card p {
  font-size: 20px;
}

#currencies .currency-card span {
  font-family: "Poppins", sans-serif;
  font-size: 26px;
}

#currencies button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 820px;
  max-width: 100%;
  color: var(--main-color) !important;
  border: 1px solid var(--main-color) !important;
  background-color: #fff;
  height: 79px;
  font-size: 20px;
  outline: none;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

@media (max-width: 767px) {
  #currencies > div > p {
    padding: 5px 15px;
    font-size: 12px;
  }

  #currencies .currency-card img {
    max-width: 100%;
  }

  #currencies .currency-card p {
    font-size: 16px;
  }

  #currencies .currency-card span {
    font-size: 22px;
  }

  #currencies button {
    width: 330px;
    height: 40px;
    font-size: 12px;
  }
}

footer {
  background-color: #11172c;
}

footer p,
footer a {
  max-width: 100%;
}

@media (max-width: 575px) {
  footer .icon-container {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  footer p {
    width: 100%;
    font-size: 16px;
  }
  footer a,
  footer .icon-container {
    margin-left: auto;
    margin-right: auto;
  }

  footer .icon-container {
    width: 50%;
  }
}
